<!doctype html>
<html lang="en">

    <head>
            <!-- Metadata -->
            <meta charset="utf-8">
            <title>{% block title %}DigiSocial Mapping Thing{% endblock %}</title>
            <meta name="description" content="Mapping all of the data whether it's relevant or not">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="author" content="Martin Chorley">
            <meta name="author" content="Will Webberley">
            <meta name="author" content="Matt Williams">

            <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

            <!-- Styles! -->
            <link href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" rel="stylesheet">
            <link href="{{ STATIC_URL }}css/responsive.css" type="text/css" rel="stylesheet">

            <!-- Icons! -->
            <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico">
            <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/57x57.png">
            <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}img/72x72.png">
            <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}img/114x114.png">

            {% block head %}
            {% endblock %}

    </head>


    <body>

        <header class="container-fluid">
            <div class="row-fluid">
                <h1 class="well well-large">
                    Mapping!
                </h1>
            </div>
        </header>

        <article class="container-fluid">
            <div class="row-fluid">
                <div id="map-holder" class="span8" style="position: relative; height: 700px;">
                    <div id="map-canvas" style="height: 700px;"></div>
                    <div class="overlay standard" style="background: #fff url({{STATIC_URL}}img/ajax-loader.gif) no-repeat 50% 50%;"></div>
                </div>
                <div class="span4 well well-large" id="datasets">
                    <div id="error-msg">
                    </div>
                    <form name="choose_data">
                        <div class="control-group" id="from-date-group">
                            <label class="control-label" for="from_date">Start Date:</label>
                            <input type="date" id="from_date" name="from_date" />
                        </div>
                        <div class="control-group" id="to-date-group">
                            <label class="control-label" for="to_date">End Date:</label>
                            <input type="date" id="to_date" name="to_date" />
                        </div>
                        <label class="checkbox">
                            <input type="checkbox" />Dataset 1
                        </label>
                        <span class="help-block">Some information about what dataset 1 contains and that sort of thing</span>
                        <label class="checkbox">
                            <input type="checkbox" />Dataset 2
                        </label>
                        <span class="help-block">Some information about what dataset 2 contains and that sort of thing</span>
                        <label class="checkbox">
                            <input type="checkbox" />Dataset 3
                        </label>
                        <span class="help-block">Some information about what dataset 3 contains and that sort of thing</span>
                        <label class="checkbox">
                            <input type="checkbox" />Dataset 4
                        </label>
                        <span class="help-block">Some information about what dataset 4 contains and that sort of thing</span>
                        <button class="btn btn-large btn-block btn-primary" type="button" onclick="validate(this);">Show me the data!</button>
                    </form>
                </div>
            </div>
        </article>

        <footer class="container-fluid">
            <small class="row-fluid">
                <p style="text-align:center; padding-top: 30px;"><a href="#modal-about" data-toggle="modal">About</a></p>
            </small>
        </footer>


        <aside id="modal-about" class="modal hide fade">
            <h2 class="modal-header">About<a href="#" class="close" data-dismiss="modal" >&times;</a></h2>
            <p class="modal-body">
                We really have little idea what this is doing here.
                <br />
                Created by <a href="https://twitter.com/intent/user?screen_name=martinjc">@martinjc</a>, <a href="https://twitter.com/intent/user?screen_name=voxmjw">@voxmjw</a> and <a href="https://twitter.com/intent/user?screen_name=flyingsparx">@flyingsparx</a> as part of the <a href="http://users.cs.cf.ac.uk/W.M.Webberley/digisocial/">DigiSocial Hackathon</a> at <a href="http://www.cf.ac.uk">Cardiff University</a> <a href="http://www.cs.cf.ac.uk">School of Computer Science & Informatics</a>, September 2012
            </p>
        </aside>
        <!-- Javascript! -->
        <!-- stuck all the way down here for performance -->
        <script>
            var root_url = '{{root_url|escapejs}}';
            var static_url = '{{STATIC_URL|escapejs}}';
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true"></script>
        <script src="{{STATIC_URL}}js/bootstrap-min.js"></script>
        <script src="{{STATIC_URL}}js/ajaxcsrf.js"></script>
        <script src="{{STATIC_URL}}js/data-min.js"></script>
        <script src="{{STATIC_URL}}js/heatmap.js"></script>
        <script src="{{STATIC_URL}}js/heatmap-gmaps.js"></script>
    </body>

</html>
